.container {
  font-family: "Roboto Slab", serif;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 50px;
}
[type="search"] {
  width: 350px;
  margin: 20px 10px 20px 20px;
  border-radius: 4px;
  border: 2px solid #3560ff;
  line-height: 30px;
}
[type="submit"] {
  width: 80px;
  border-radius: 4px;
  border: 2px solid #3560ff;
  line-height: 30px;
  background: #3560ff;
  color: #fff;
  margin-right: 10px;
}
button {
  height: 36px;
  position: relative;
  margin-top: -2px;
}
h1 {
  font-size: 60px;
  margin-left: 20px;
}
.date_sky {
  text-align: right;
  margin-right: 20px;
  font-size: 25px;
  position: relative;
  top: -40px;
  line-height: normal;
}
h2 {
  margin-top: -80px;
}
#main_icon {
  height: 150px;
}
.h2_temperature {
  position: relative;
  top: -30px;
  font-size: 30px;
}
.precipitation_humidity_wind {
  font-size: 13px;
  margin-left: 160px;
  margin-top: -80px;
}

.col {
  font-size: 13px;
}
.forecast-menu-icon {
  font-size: 70px;
}
a {
  text-decoration: none;
}
#sky {
  text-transform: capitalize;
}
